*.pdf
*.gif
*.png
*.un*
*.swp
*.so
*.d
*_Store
*.root
*.txt
*.pcm
*.pyc
*.log
*.dat
**/*__init__.py
PhiAnalyzer/crab/crab_dir/HLT*
PhiAnalyzer/crab/IDs
PhiAnalyzer/crab/crab_dir_12_26_17/
PhiAnalyzer/json
*.orig
tags
